@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

body,
html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  font-family: "Nunito", sans-serif;
}

/* main-header start */
[data-target="#mainMenu"] {
  position: relative;
  z-index: 999;
}

.main-header {
  position: fixed;
  top: -33px;
  left: 0;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar {
  margin: 0 8%;
}

.main-header.sticky {
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  height: 7.5rem;
  z-index: 999;
}
.main-header #mainMenu li > a {
  color: #ff831f;
}

.main-header.sticky #mainMenu li > a {
  color: #ff831f;
}
.main-header .navbar-brand img {
  width: 130px;
  height: 120px;
  left: 80px;
  top: 10px;
}
.main-header.sticky .navbar-brand img {
  width: 100px;
  height: 100px;
  left: 80px;
  top: 10px;
}

label {
  visibility: hidden;
}

#mainMenu li {
  margin-right: 50px;
}

#mainMenu li > a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding-top: 1%;
  text-align: center;
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  background: #ff831f;
  bottom: -18px;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: transform 0.8s ease-in-back;
  transition-duration: 0.8s ease-in-back;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  content: "";
  position: absolute;

  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

#mainMenu a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #ffffff;
  width: 125px;
  height: 48px;
  text-align: center;
  background-color: #ff831f;
  padding: 1%;
  border-radius: 8px;
}
#mainMenu a.button:hover {
  background-color: #ffffff00;
  color: #ff831f;
  border: 2px solid #ff831f;
  /* font-size: 18px; */
  font-weight: bold;
  /* padding: 0; */
}

.main-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: Nunito;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-pretext {
  font-size: 48px;
  text-align: center;
  justify-content: center;
  line-height: 50px;
  margin: 15% 5% 5% 5%;
}

.form-pretext strong {
  color: #ff831f;
}

.card {
  width: 50%;
  /* height: 987px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: #000;
  margin-bottom: 5%;
  font-family: "Nunito";
}

.form-topmost {
  text-align: center;
  font-size: 2rem;
}
.form-top {
  text-align: center;
  font-size: 1rem;
}
.user-type {
  margin-left: 60%;
}
.btn-primary {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #ffffff;
  width: 125px;
  height: 48px;
  text-align: center;
  background-color: #ff831f;
  padding: 1%;
  border-color: #ff831f;
  border-radius: 8px;
  margin: 5% 40%;
}

.btn-primary:hover {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #ffffff;
  color: #ff831f;
  border: 2px solid #ff831f;
  /* font-size: 18px; */
  font-weight: bold;
  /* padding: 0; */
}

/*-------------- Footer Section ----------*/
footer {
  color: #ffffff;
  background-color: #ff831f;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-social {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
}

.footer-social img {
  width: 208px;
  height: 208px;
}

footer ul > li {
  list-style: none;
}

footer hr {
  border-width: 3px;
}

footer .social {
  margin: 10% auto;
  justify-content: center;
  margin-top: 10%;
}

.social_footer {
  display: flex;
  list-style-type: none;
}
.social_footer li {
  margin-top: 10%;
  margin-left: 30px;
}

.social_footer li a {
  color: #ff831f;
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 24px;
}

.social_footer li i {
  width: 36px;
  height: 36px;
  text-align: center;
}

.social_footer li a:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #ff831f;
}

footer .contact {
  margin: 5% 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .contact p {
  font-size: 48px;
  font-family: "Nunito" sans-serif;
  font-style: normal;
  line-height: 65px;
}

footer .contact .row {
  display: flex;
  justify-content: space-evenly;
  margin: 8% 0;
  margin-left: -6%;
  flex-wrap: nowrap;
}

.contact .row hr {
  visibility: hidden;
}

footer .contact .row .services li {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  line-height: 2.5rem;
  white-space: nowrap;
}

footer .heading ul {
  margin-top: 5%;
}

footer .heading {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.contact .row .addr .heading {
  margin-left: -80px;
}

footer .addr li {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

footer .addr li .iconify {
  color: white;
  font-size: 30px;
  margin: 0 3% 0 0;
}

footer .addr li p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  line-height: 1.5rem;
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

footer .copyright {
  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-left: 15%;
  white-space: nowrap;
}

footer .policy {
  font-size: 16px;
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  float: right;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  white-space: nowrap;
}

footer .policy .list {
  margin: 0 20%;
}

/* --------------------Media Queries------------- */

@media (max-width: 1025px) {
  .main-header .navbar-brand img {
    width: 100px;
    height: 100px;
    left: 60px;
    top: 10px;
  }
  .card {
    width: 70%;
    /* height: 987px; */
    font-family: "Nunito";
  }
}

@media (max-width: 860px) {
  .menuToggle {
    z-index: 999;
    position: relative;
    width: 72px;
    height: 40px;
    color: #ff831f;
  }
  .main-header.sticky {
    background: #ffffff;
    padding: 5px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    height: 7.5rem;
    z-index: 999;
  }
  .main-header.sticky #mainMenu li {
    color: #ff831f;
  }

  .navbar-brand {
    color: #fff;
    z-index: 999;
  }
  nav .navbar-collapse {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121116fa;
  }
  .main-header .navbar-brand img {
    max-width: 100px;
    max-height: 100px;
  }
  .main-header .navbar {
    margin: 2% 5% 0 5%;
  }
  .main-header.sticky {
    height: 9rem;
  }

  .main-header.sticky #mainMenu li > a {
    color: #fff;
  }

  .main-header.sticky #mainMenu li > a.active {
    color: #ff831f;
  }
  #mainMenu li {
    margin: 5% 0;
    margin-right: 0;
  }

  .card-body label {
    visibility: hidden;
  }
  label {
    visibility: visible;
    display: none;
    display: flex;
    flex-direction: column;
    width: 50px;
    cursor: pointer;
  }
  label span {
    background: #ff831f;
    border-radius: 10px;
    height: 5px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  span:nth-of-type(1) {
    width: 75%;
    margin-left: 20%;
  }
  span:nth-of-type(2) {
    width: 100%;
  }
  span:nth-of-type(3) {
    width: 75%;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    width: 100%;
    transform-origin: bottom;
    transform: rotatez(45deg) translate(3px, 15px);
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    visibility: hidden;
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    height: 50%;
  }

  #mainMenu li > a.active {
    color: #ff831f;
  }
  #mainMenu li > a::before {
    visibility: hidden;
  }
  #mainMenu li > a:hover::before,
  #mainMenu li > a.active::before {
    visibility: hidden;
  }
  #mainMenu li > a {
    text-decoration: none;
    font-size: 25px;
  }
  #mainMenu a.button {
    width: 166px;
    height: 59px;
    font-size: 25px;
  }
  .card-body {
    text-align: center !important;
  }
  .registration .form-select {
    margin-left: 23rem;
  }
  /* footer */

  .footer-social {
    display: none;
  }

  footer .contact {
    width: 100%;
    margin: 2rem auto !important;
    text-align: center;
  }
  footer .addr {
    margin-left: 0rem;
    text-align: center !important;
  }

  .footer .services {
    margin-left: 0px;
  }
  footer .addr li .iconify {
    font-size: 30px;
  }
  footer .policy {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 560px) {
  .main-header.sticky {
    height: 9rem !important;
  }
  .registration .main-section {
    margin-top: 2rem;
  }
  .registration .main-section .form-pretext p {
    font-size: 30px;
  }
  .card {
    width: 85%;
    /* height: 987px; */
    font-family: "Nunito";
  }
  .registration .form-select {
    margin-left: 18rem;
  }
  footer .addr {
    margin-left: -3rem;
  }
  footer .policy {
    margin-right: 7rem;
  }
}
@media only screen and (max-width: 450px) {
  .main-header.sticky {
    height: 8rem !important;
  }
  .card {
    width: 90%;
  }

  .registration .form-select {
    margin-left: 11rem;
  }
  .registration .form-topmost {
    font-size: 23px;
  }
  .registration .btn {
    margin-left: 5rem;
  }
  .footer .contact .row {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  footer .addr {
    margin-left: 5rem;
    text-align: center;
  }
  .footer .copyright {
    text-align: center;
    margin-left: -1rem;
  }
  footer .policy {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 350px) {
  .registration .form-select {
    margin-left: 8rem;
  }
  .registration .btn {
    margin-left: 3rem;
  }
}
